*.a
*.dll
*.dylib
*.gch
*.lai
*.la
*.lib
*.lo
*.mod
*.o
*.obj
*.opensdf
*.pch
*.sdf
*.sln
*.slo
*.so
*.suo
*.xcodeproj
*.xcworkspace
*.vs
*.VC.db
*.VC.opendb

Binaries/*
Plugins/*/Binaries/*
Build/*

!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset

Saved/*

Intermediate/*
Plugins/*/Intermediate/*

DerivedDataCache/*
Content/StarterContent/*